*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.main-header{
    background-image: url("./images/./banner/banner2.png");
    background-position-x: 785px;
     background-position-y: 725px; 
    width: 100%;
    height: 650px; 
    
}
.header-part{
    padding: 154px 131px;
    width: 60%;
}
.header-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
}
.header-description{
    color: #444343;
    line-height: 25px;
    margin: 17px 0px;
}
.header-btn{
    color: #FFFF;
    font-size: 20px;
    padding: 16px 18px;
    border: none;
    border-radius: 5px;
    background: #ff6348;
    
}
.header-btn:hover{
    color: #ffa502;
    background: rgb(1, 1, 1);
}
/* header end */
/* banner-section start */
.banner-section{}
.banner{
    display: flex;
    align-items:center;
    padding: 160px 89px;

}
.banner-text{
    margin-top: 98px;
    margin-left: 73px;
}
.banner-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    padding-right: 100px;
}
.banner-description{
    color: #444343;
    line-height: 27px;
    margin: 16px 0px;
    font-size: 18px;
}
.banner-icon-text{
    color: #444343;
    margin-top:10px;
    font-size: 18px;
    
}
.banner-icon{
    color: green;
    font-size: 23px;
    margin-right: 15px;
}